<img src="https://s3-ap-northeast-1.amazonaws.com/gurumek/aboutus.jpg" style="max-width:100%">
      <div class="row">
        <div class="col-md-2 col-sm-1"></div>
        <div class="col-md-6 col-sm-7">    
            <h2><%= t('About Us') %></h2><br>
            <p><%= t('About Us p1') %></p>
            <p><%= t('About Us p2') %></p>
            <br>
            <h4><b><%= t('Why you can trust Edusia') %></b></h4>
            <p><b><%= t('Teaching Experience') %></b>: <%= t('About Us p3') %></p>       
            <p><b><%= t('Academic Excellence') %></b>: <%= t('About Us p4') %></p>          
        </div>
        <div class="col-md-2 col-sm-3" style="border-left: 1px solid #eeeeee;">
          <h2><%= t('About Founder') %></h2>
          <img src="https://s3-ap-northeast-1.amazonaws.com/gurumek/passport.jpg" class="img-circle" style="text-align: center; width:120px">
          <h4><%= t('About Founder p') %></h4>
          <p><%= t('About Founder p2') %></p>
        </div>
      </div>