<div class="jumbotron index">
  <div class="row">
    <div class="col-md-3 col-sm-2 col-xs-12">
      <!--<a href="pages/our_stars">
        <img src="https://dl.dropboxusercontent.com/s/0lrjitvuv7qk31d/Searchbox%20icon.png" class="searchicon" style="text-align:center">
      </a>-->
    </div>
    <div class="col-md-6 col-sm-8">
      <h1>For students studying abroad in US & UK</h1> 
      <h2>College Essays/ Personal Statements of Ivy Leaguer and Oxbridge students and more</h2>
    </div>
  </div>
</div><!-- end of container-->

<div class="container"> 
      <div class="row">
        <h1 style="color:#2E3338; text-align:center">College Essays</h1><br>
        <div class="col-md-4 col-sm-4">
           <div class="thumbnail">
             <div class="caption">
                <h3>Princeton, Molecular Biology, 2010</h3>
                <h4><b>Write about what you like</b></h4>
                  <p style="font-size:12px;">She wore a fluffy elf cap—powder pink, of course—and at barely an arm’s length, she already sported wispy hair and delicate fingers and toes. Still, her puffy eyes seemed...</p>
               <p style="text-align:right"><%= link_to 'Read more', class:"btn btn-default" %></p>
             </div>
           </div>
        </div>
        <div class="col-md-4 col-sm-4">
           <div class="thumbnail">
             <div class="caption">
                <h3>Standford, Economics, 2011</h3>
                <h4><b>Tell us what makes Stanford a good place for you.</b></h4>
                  <p style="font-size:12px;">In AP Statistics, I often utilized the Least Squares method to find correlations between two data sets. First, I would gen...</p>
               <p style="text-align:right"><%= link_to 'Read more', class:"btn btn-default" %></p>
             </div>
           </div>
        </div>
        <div class="col-md-4 col-sm-4">
           <div class="thumbnail">
             <div class="caption">
                <h3>Pennsylvania, Engineering, 2009</h3>
                <h4><b>Which of the academic communities and social...</b></h4>
                  <p style="font-size:12px;">I see the beauty in our natural assembly of neurons, the splendor of circuits in digital chips, and of course the undying...</p>
               <p style="text-align:right"><%= link_to 'Read more', class:"btn btn-default" %></p>
             </div>
           </div>
        </div>       
      </div><!-- end of row -->
<br> 
</div><!-- end of container-->
<hr>
  <div class="container"> 
      <div class="row">
        <h1 style="color:#2E3338; text-align:center">Personal Statements</h1><br>
        <div class="col-md-4 col-sm-4">
           <div class="thumbnail">
             <div class="caption">
                <h3>Oxford, Mathematics</h3>
                <p style="font-size:12px;">She wore a fluffy elf cap—powder pink, of course—and at barely an arm’s length, she already sported wispy hair and delicate fingers and toes. Still, her puffy eyes seemed...</p>
               <p style="text-align:right"><%= link_to 'Read more', class:"btn btn-default" %></p>
             </div>
           </div>
        </div>
        <div class="col-md-4 col-sm-4">
           <div class="thumbnail">
             <div class="caption">
                <h3>Cambridge, Natural Sciences, 2011</h3>               
                  <p style="font-size:12px;">In AP Statistics, I often utilized the Least Squares method to find correlations between two data sets. First, I would gen...</p>
               <p style="text-align:right"><%= link_to 'Read more', class:"btn btn-default" %></p>
             </div>
           </div>
        </div>
        <div class="col-md-4 col-sm-4">
           <div class="thumbnail">
             <div class="caption">
                <h3>Imperial College, Engineering, 2009</h3>                
                  <p style="font-size:12px;">I see the beauty in our natural assembly of neurons, the splendor of circuits in digital chips, and of course the undying...</p>
               <p style="text-align:right"><%= link_to 'Read more', class:"btn btn-default" %></p>
             </div>
           </div>
        </div>       
      </div><!-- end of row -->
<br> 
</div><!-- end of container-->
<hr>
<div class="container">
<div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 style="text-align:center; color: #2E3338">Oxbridge Interview Q&A</h1>
      <p style="text-align:center; font-size:23px;">What questions should we be expecting for Oxbridge interviews? Here our tutors show you what to expect by working through an actual past interview question.</p>
    </div>
 </div>
<br>
 <div class="row">     
      <center>        
        <object width="320" height="245"
      data="http://player.youku.com/player.php/sid/XOTAzNDc3NjYw/v.swf">
        </object>
        <object width="320" height="245"
      data="http://player.youku.com/player.php/sid/XOTAzNDg5ODky/v.swf">
        </object>
        <object width="320" height="245"
      data="http://player.youku.com/player.php/sid/XOTAzNDc5MTcy/v.swf">
        </object>
      <br>
      <%= link_to "See more", pages_oxbridge_interview_questions_path, class: "linkbuttonb" %></center>
 </div>
<br>
</div><!-- end of container -->
<div class="ourrecords">
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-2"></div>
    <div class="col-md-6 col-sm-6 col-xs-8">
      <h1>GuruMe contributors</h1>
      <h3>University students from world top universities</h3>
    </div>
  </div>  
  <div class="row" style="text-align:center; padding-bottom:40px;">
    <div class="col-md-4">
      <img src="https://dl.dropboxusercontent.com/s/h45a6kxnags47ow/cambridge%20logo.png" style="height:150px;">
    </div>
    <div class="col-md-4">
      <img src="https://dl.dropboxusercontent.com/s/zixzpwz04wx4df9/lse.jpg?dl=0" style="height:150px;">
    </div>
    <div class="col-md-4">
      <img src="https://dl.dropboxusercontent.com/s/y6mvk5xb52qixrc/ucl.png" style="height:150px;">
    </div>
  </div><br>
  <div class="row" style="text-align:center; padding-bottom:40px;">
    <div class="col-md-3 col-sm-2"></div>
    <div class="col-md-3 col-sm-4">
      <img src="https://dl.dropboxusercontent.com/s/sts8fwn4g0loah3/oxford%20university.png" style="height:150px; margin-bottom:30px;">
    </div>
    <div class="col-md-3 col-sm-4">
      <img src="https://dl.dropboxusercontent.com/s/4kvwe7t3s2mev21/imperialcollege.png" class="img-responsive" style="height:100px;">
    </div>    
  </div>
</div>